# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
s= set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
s1= set(range(1,6))
s2= set(range(2,11,2))

s1.union(s2)

{1, 2, 3, 4, 5, 6, 8, 10}

In [6]:
s1.intersection(s2)

{2, 4}

In [7]:
s1.difference(s2)

{1, 3, 5}

In [8]:
s1.symmetric_difference(s2)

{1, 3, 5, 6, 8, 10}

In [10]:
square= {x**2 for x in range(1,11)}
print(square)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [12]:
s=set(range(1,11))
new_set= {x for x in s if x%2==0}
print(new_set)

{2, 4, 6, 8, 10}

In [13]:
s3={1,2,2,3,4,5,5}
unique_set= set(s3)
print(unique_set)

{1, 2, 3, 4, 5}

In [15]:
a1= set(range(1,6))
a2= set(range(1,4))
print(a1.issubset(a2))
print(a1.issuperset(a2))

False
True

In [16]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [17]:
b= set(range(1,6))
lst= list(b)
lst.append(6)
c=set(lst)
print(c)

{1, 2, 3, 4, 5, 6}

In [19]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [20]:
st= {1,2,3,4,5,6,7}
for i in st:
    print(i)

1
2
3
4
5
6
7

In [27]:
st= {1,2,3,4,5,6,7}
while st:
    st.pop()
    print(st)

{2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}
{4, 5, 6, 7}
{5, 6, 7}
{6, 7}
{7}
set()

In [32]:
b1={1,2,3,4,5}
b2= {5,6,7,8,9,10}
b1.symmetric_difference_update(b2)
print(b1)

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [33]:
s = set(range(1, 6))
print(3 in s)
print(10 in s)

True
False

In [34]:
s= {(1,2),(3,4)}
print(s)

{(1, 2), (3, 4)}