# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [2]:
import pandas as pd
import numpy as np

In [4]:
df= pd.DataFrame(np.random.randint(1,100, size= (6,4)),columns= ['A','B','C','D'])
df.set_index('A',inplace= True)
df

     B   C   D
A
99  85  85  57
24  51  26  88
8   79  60  64
40  45  55  27
74  94  29  60
57  74  29  75

In [13]:
df= pd.DataFrame(np.random.randint(1,100 , size =(3,3)), columns= ['A','B','C'], index =['X','Y','Z'])
print(df)
df.at['Y','B']

    A   B   C
X  76   1  72
Y  55  17  54
Z  49   3  12

np.int32(17)

In [14]:
df= pd.DataFrame(np.random.randint(1,100 , size=(5,3)), columns= ['A','B','C'])
df['C']= df['A']* df['B']
df

    A   B     C
0  10  22   220
1  24  57  1368
2  29   6   174
3   8  14   112
4  88  75  6600

In [15]:
df= pd.DataFrame(np.random.randint(1,100 , size=(4,3)), columns= ['A','B','C'])
row_sum= df.sum(axis= 1)
column_sum= df.sum(axis=0)
print(df)
print(row_sum)
print(column_sum)

    A   B   C
0  27  49  45
1  77  87  28
2  96  27  28
3  43  63   1
0    121
1    192
2    151
3    107
dtype: int64
A    243
B    226
C    102
dtype: int64

In [17]:
df= pd.DataFrame(np.random.randint(1,100 , size=(5,3)), columns= ['A','B','C'])
df.iloc[1,1]= np.nan
df.iloc[0,1]= np.nan
df.iloc[1,2]= np.nan 
df
df.fillna(df.mean(), inplace=True)
print(df)

    A          B     C
0  80  64.666667  98.0
1  32  64.666667  59.5
2  36  99.000000  68.0
3  72  45.000000  34.0
4  92  50.000000  38.0

In [20]:
df= pd.DataFrame(np.random.randint(1,100 , size=(6,4)), columns= ['A','B','C','D'])
print(df)
df.iloc[1,1]= np.nan
df.iloc[0,1]= np.nan
df.iloc[1,2]= np.nan 
print(df)
df.dropna(inplace=True)
df

    A   B   C   D
0  98  98  16  22
1  90   1  37  61
2  36  59  88  78
3   7  71  29  29
4  53  94  92  50
5  34  47  31  66
    A     B     C   D
0  98   NaN  16.0  22
1  90   NaN   NaN  61
2  36  59.0  88.0  78
3   7  71.0  29.0  29
4  53  94.0  92.0  50
5  34  47.0  31.0  66

    A     B     C   D
2  36  59.0  88.0  78
3   7  71.0  29.0  29
4  53  94.0  92.0  50
5  34  47.0  31.0  66

In [25]:
df= pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print(df)
group=df.groupby('Category')['Value'].agg(['sum','mean'])
group

  Category  Value
0        B      7
1        A     61
2        B     61
3        B     35
4        B     95
5        A     81
6        B     84
7        B     19
8        A     18
9        B     23

          sum       mean
Category
A         160  53.333333
B         324  46.285714

In [22]:
df= pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10),'Product': np.random.choice(['Mobile','Lapotop','TV'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
groupped= df.groupby('Category')['Sales'].sum()
groupped

Category
A     56
B    253
C    216
Name: Sales, dtype: int32

In [24]:
df1= pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2= pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print(df1)
print(df2)
merged=pd.merge(df1,df2, on= 'Key')
print(merged)

  Key  Value1
0   A      13
1   B      96
2   C      61
3   D      33
  Key  Value2
0   A      98
1   B      67
2   C      74
3   E      84
  Key  Value1  Value2
0   A      13      98
1   B      96      67
2   C      61      74

In [26]:
df1= pd.DataFrame({'A': np.random.randint(1,100 , size= 3), 'B': np.random.randint(1, 100, size=3)})
df2= pd.DataFrame({'C': np.random.randint(1,100 , size= 3), 'D': np.random.randint(1, 100, size=3)})
print(df1)
print(df2)
conc_row= pd.concat([df1,df2], axis= 0)
print(conc_row)
conc_column= pd.concat([df1,df2], axis =1)
print(conc_column)

    A   B
0  81  76
1  77  18
2  67  77
    C   D
0  71   7
1  38  96
2  83  32
      A     B     C     D
0  81.0  76.0   NaN   NaN
1  77.0  18.0   NaN   NaN
2  67.0  77.0   NaN   NaN
0   NaN   NaN  71.0   7.0
1   NaN   NaN  38.0  96.0
2   NaN   NaN  83.0  32.0
    A   B   C   D
0  81  76  71   7
1  77  18  38  96
2  67  77  83  32